<div ngClass="container">
  <div ngClass="amount-container">
    <div ngClass="amount-block" *ngFor="let amount of amounts; index as i">
      <p ngClass="amount-name">{{names[i]}}</p>
      <p [ngClass]="{'amount-number': true, 'amount-last': lastFlow == i}">{{amount}}</p>
    </div>
  </div>
  <div ngClass="stats-container">
    <div ngClass="stats-block">
      <p ngClass="stat-title">Flow 3</p>
      <p ngClass="stat">Average error: {{(averageError * 100).toFixed(2)}}%</p>
      <p ngClass="stat">Variance error: {{(varianceError * 100).toFixed(2)}}%</p>
    </div>
    <div ngClass="stats-block">
      <p ngClass="stat-vs">VS</p>
    </div>
    <div ngClass="stats-block">
      <p ngClass="stat-title">Total flow</p>
      <p ngClass="stat">Average error: {{(averageErrorTotal * 100).toFixed(2)}}%</p>
      <p ngClass="stat">Variance error: {{(varianceErrorTotal * 100).toFixed(2)}}%</p>
    </div>
  </div>
</div>